<div class="alert alert-danger" *ngIf="loadError">
  <strong>Error loading notes</strong> Server unreachable
</div>

<div class="card">
  <div class="card-block">
    <form (ngSubmit)="saveNote(note)" #noteForm="ngForm">
      <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" name="subject" #subject="ngModel" [(ngModel)]="note.subject" required />
      </div>
      <div class="form-group">
        <label>Message</label>
        <input type="text" class="form-control" name="message" #message="ngModel" [(ngModel)]="note.message" required />
      </div>
      <div class="form-group">
        <label>Creator</label>
        <input type="text" class="form-control" name="creator" #creator="ngModel" [(ngModel)]="note.creator" required />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!noteForm.valid">Save Note</button>
    </form>
  </div>
</div>

<div class="alert alert-warning" role="alert" *ngIf="!loadingNotes && (!notes || !notes.length)">
  There are no notes available yet
</div>
<div class="alert alert-info" *ngIf="loadingNotes">
  Loading notes...
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let note of notes">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{note.subject}}</h4>
        <p class="card-text">{{note.message}}</p>
        <span class="tag tag-primary">{{note.creator}}</span>
        <span class="tag tag-default">{{note.dateTime}}</span>
      </div>
      <div class="card-block">
        <a href="#" (click)="deleteNote(note)">Delete Note</a>
      </div>
    </div>
  </div>
</div>
